.login-controls ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.login-controls li{
    float: left;
    display: block;
    padding: 10px;
    
}

#sign-up {
    border: 1px;
    border-color: white;
    border-style: solid;
    border-radius: 10px;
}